<!DOCTYPE html>
<html lang="en"  ng-app="payrollApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BDB Payroll Test</title>

    <!--vendors scripts-->
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="./node_modules/angular-resource/angular-resource.min.js"></script>

    <!--app scripts-->
    <script src="./scripts/app.js"></script>
    <script src="./scripts/commentsCtrl.js"></script>
    <script src="./scripts/addCommentDirective.js"></script>
    <script src="./scripts/commentItemDirective.js"></script>
    <script src="./scripts/DataHandlerService.js"></script>

    <!--vendors css-->
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">

    <!--app css-->
    <link rel="stylesheet" href="./styles/main.css">


</head>
<body>
    <div class="container" ng-controller="commentsCtrl">
        <section id="tags row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <h4>Tags</h4>
                <div ng-repeat="tag in tagsList" class="checkbox">
                    <label >
                        <input type="checkbox" value="{{tag}}">{{tag}}
                    </label>
                </div>
            </div>
        </section>
        <section class="comments row" ng-repeat="comment in comments track by $index">
            <comment-item tags="tagsList"
                          index="{{$index}}"
                          remove="removeComment(index)"
                          comment="comment"></comment-item>
        </section>
        <add-comment></add-comment>
    </div>
</body>
</html>