<div class="comment-wrap col-xs-12 col-md-10 col-md-offset-1">
    <aside class="actions">
        <button type="button" class="btn btn-danger btn-sm" value="Delete" ng-click="remove({index: index})">Delete</button>
        <button type="button" class="btn btn-default btn-sm btn-edit" value="Edit" ng-click="toggleEditMode(false)">Edit</button>
    </aside>
    <div class="comment-view" ng-show="isViewMode">
        <span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span>
        <h4>{{comment.title}}</h4>
        <p>{{comment.text}}</p>
    </div>
    <div class="comment-edit" ng-hide="isViewMode">
        <form>
            <div class="form-group">
                <input class="form-control" placeholder="title" type="text" ng-model="updateCommentData.title">
            </div>
            <div class="form-group">
                <textarea class="form-control" placeholder="type your comment..." ng-model="updateCommentData.text"></textarea>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default" ng-click="toggleEditMode(true)">Cancel</button>
                <button type="submit" class="btn btn-success" ng-click="updateComment()">Save</button>
            </div>
        </form>
    </div>
</div>