.container{
  margin: 1.5rem auto;
}

div.checkbox{
  display: inline-block;
  label{
    margin-right: 1rem;
    display: inline-block;
  }
}

section.row.comments{
  .comment-wrap{
    border-top: 1px solid #ccc;
    margin-top: 1rem;
    padding-top: 1rem;
  }
  &:first-child .comment-wrap{
    border-top: none;
  }
}

.comment-view{
  position: relative;
  .glyphicon-comment{
    position: absolute;
    top: -20px;
    right: 0px;
    font-size: 5rem;
    opacity: 0.2;
    color: #449d44;
  }
}

.comment-edit{
  margin-top: 1rem;
}

section#add-comment{
  padding-top: 4rem;
}

section#tags{
  div.checkbox{
    &:first-child label.filter{
      margin-left: 0rem;
      padding-left: 0rem;
    }
  }
  label.filter{
    padding: 0.5rem 1rem 0.5rem 3rem;
    line-height: 2;
  }
}
